{% extends "base/base.html" %}
{% block content %}

    <div class="container p-5">
        <ul class="list-group">
            <li class="list-group-item">
                <h4>Assessment</h4>
                <hr>
                <small>
                <strong> Time Limit:</strong> {{ assessment.time_limit }} min. <br>
                <strong> Test Code:</strong> {{ assessment.code }} <br>
                <strong> Start Time:</strong> {{ manager.start_time }} <br>
                <strong> End Time:</strong> {{ manager.end_time }} <br>
                <strong> User:</strong> {{ manager.user }} <br>
                </small>
                <hr>

                <h5>Coding questions: </h5>
                {% for question in questions %}
                    {{ forloop.counter }}.<a href="#"> {{ question }} </a> | {{ question.difficulty }} Stars |  <br>
                {% endfor %}
                <br>

                <h5>MCQ questions: </h5>
                {% for mcqquestion in mcqquestions %}
                    <hr>
                    {{ forloop.counter }}. {{ mcqquestion }} <br>
                    {% for mcqsolution in mcqsolutions %}
                        {% if mcqquestion.hit == mcqsolution.question_hit %}
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="{{ mcqsolution.question_hit }}{{ forloop.counter }}">
                                <label class="custom-control-label" for="{{ mcqsolution.question_hit }}{{ forloop.counter }}">{{ mcqsolution }}</label>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endfor %}

                <br>
                <button type="submit" class="btn btn-dark px-5 py-2 m-3">Submit</button>
            </li>
        </ul>

        <p class="countdown-timer">
            The Page will be closing in: <span id="countTime"></span>
        </p>

        <script>


            if (sessionStorage.getItem("counter")) {
                if (sessionStorage.getItem("counter") <= 0) {
                    var value = {{ rem_time }};
                } else {
                    var value = sessionStorage.getItem("counter");
                }
            } else {
                var value = {{ rem_time }};
            }

            var counter = function () {
                if (value <= 0) {
                    window.close();
                } else {

                    value -= 1000;
                    var min = Math.floor(value / (60 * 1000));
                    var sec = Math.floor((value - (min * 60 * 1000)) / 1000);

                    sessionStorage.setItem("counter", value);
                }

                document.getElementById('countTime').innerHTML = min + " mins  " + sec + " sec.";
            }

            var interval = setInterval(counter, 1000);
        </script>
    </div>

{% endblock %}