{% extends "base/base.html" %}
{% block content %}

    <div class="container p-5">
        <form id="assessmentform" action="" method="POST">{% csrf_token %}
            <div class="card card-body">
                <h4>Assessment</h4>
                <hr>
                <small>
                    <strong> Time Limit:</strong> {{ assessment.time_limit }} min. <br>
                    <strong> Test Code:</strong> {{ assessment.code }} <br>
                    {#                        <strong> Start Time:</strong> {{ manager.start_time }} <br>#}
                    {#                        <strong> End Time:</strong> {{ manager.end_time }} <br>#}
                    <strong> User:</strong> {{ manager.user }} <br>
                    <strong> Total Questions: </strong> MCQ: {{ mcqquestions|length }}, Code: {{ questions|length }}
                    <br>
                </small>
            </div>
            <br>

            <div class="card">
                <div class="card-body">
                    <h5>Coding questions: </h5>
                    <hr>
                    {% for question in questions %}

                        {{ forloop.counter }}.<a href="#"
                                                 onclick='window.open("/question/{{ question.hit }}", "_blank", "toolbar=no,scrollbars=no,resizable=yes, width=800")'> {{ question }} </a>
                        | {{ question.difficulty }} Stars |
                        <button type="button" class="btn btn-link"
                                data-container="body"
                                data-toggle="popover"
                                data-placement="right"
                                data-html="true"
                                data-trigger="focus"
                                title="Submissions"
                                data-content="
                                    {% for submissions in code_submissions %}
                                        {% for submission in submissions %}
                                            {% if question.hit == submission.question_hit %}

                                                {% if submission.verdict %}
                                                    <span class='badge badge-success'>Correct answer</span>
                                                {% else %}
                                                    <span class='badge badge-danger'>Wrong answer</span>
                                                {% endif %}
                                                | {{ submission.time_stamp }} <br>
                                            {% endif %}
                                        {% endfor %}
                                    {% endfor %}
                                ">
                            Submissions

                        </button>
                        <br>
                    {% endfor %}
                </div>
            </div>
            <br>
            <div class="card">
                <div class="card-body">
                    <h5>MCQ questions: </h5>

                    {% for mcqquestion in mcqquestions %}
                        <div id="question{{ forloop.counter0 }}" style="display: none;min-height: 150px">
                            <hr>
                            {{ forloop.counter }}. {{ mcqquestion }} <br>
                            {% for mcqsolution in mcqsolutions %}
                                {% if mcqquestion.hit == mcqsolution.question_hit %}
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input"
                                               name="{{ mcqquestion.hit }}|{{ mcqsolution.solution }}"
                                               id="{{ mcqquestion.hit }}|{{ mcqsolution.solution }}">
                                        <label class="custom-control-label"
                                               for="{{ mcqquestion.hit }}|{{ mcqsolution.solution }}">{{ mcqsolution.solution }}</label>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endfor %}
                    <button type="button" onclick="prev()" class="btn btn-link btn-sm float-left">Prev
                    </button>
                    <button type="button" onclick="next()" class="btn btn-link btn-sm float-right">Next
                    </button>
                </div>
            </div>
            <button type="submit" class="btn btn-dark px-5 py-2 m-3 ">Submit</button>
            <p class="countdown-timer">
                The Page will be closing in: <span id="countTime"></span>
            </p>
        </form>
        <script>

            var current_index = 0;
            const total_questions = {{ mcqquestions|length }};
            var question = "question" + current_index;

            console.log(question);

            document.getElementById(question.toString()).style.display = "block";

            function prev() {
                document.getElementById("question" + current_index).style.display = "none";
                if (current_index == 0) {
                    current_index = total_questions - 1;
                } else {
                    current_index -= 1;
                }
                document.getElementById("question" + current_index).style.display = "block";
                console.log(current_index);
            }

            function next() {
                document.getElementById("question" + current_index).style.display = "none";
                if (current_index >= total_questions - 1) {
                    current_index = 0;
                } else {
                    current_index += 1;
                }
                console.log(current_index);
                document.getElementById("question" + current_index).style.display = "block";
            }

            if (sessionStorage.getItem("counter")) {
                if (sessionStorage.getItem("counter") <= 0) {
                    var value = {{ rem_time }};
                } else {
                    var value = sessionStorage.getItem("counter");
                }
            } else {
                var value = {{ rem_time }};
            }

            var counter = function () {
                if (value <= 0) {
                    document.getElementById("assessmentform").submit();
                } else {

                    value -= 1000;
                    var min = Math.floor(value / (60 * 1000));
                    var sec = Math.floor((value - (min * 60 * 1000)) / 1000);

                    sessionStorage.setItem("counter", value);
                }

                document.getElementById('countTime').innerHTML = min + " mins  " + sec + " sec.";
            }

            var interval = setInterval(counter, 1000);
        </script>
    </div>

{% endblock %}