<nav class="navbar navbar-expand-lg navbar-dark pt-3 pb-3" style="background-color: #353893;">
    <a class="navbar-brand" href="{% url 'dashboard' %}">Testmandi</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            {% if request.user.is_staff %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'staff' %}">Home</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'dashboard' %}">Home</a>
                </li>
            {% endif %}


            <li class="nav-item">
                <a class="nav-link" href="{% url 'question-list' %}">Practice</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Challenge</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Jobs</a>
            </li>
        </ul>

        {% if request.user.is_authenticated %}
            <div class="dropleft">
                <a class="nav-link text-light dropdown-toggle mr-5" href="#" id="navbarDropdown" role="button"
                   data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    {{ request.user.username }}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item text-danger" href="{% url 'logout' %}">Logout</a>
                </div>
            </div>
        {% else %}
            <a class="nav-link text-light mr-5" href="{% url 'reglogin' %}" role="button" aria-haspopup="true"
               aria-expanded="false">
                Register/Login
            </a>
        {% endif %}

    </div>
</nav>