<nav class="navbar navbar-expand-lg navbar-dark pt-3 pb-3" style="background-color: #353893;">
    <a class="navbar-brand" href="#">Testmandi</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">Home </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">My Submissions</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">All Submissions</a>
            </li>
        </ul>
        <div class="dropleft">
            <a class="nav-link text-light dropdown-toggle mr-5" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
                test-user
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item text-danger" href="#">Logout</a>
            </div>
        </div>
    </div>
</nav>