body{
    background-color: rgba(242, 242, 246, 0.56) !important;
}
.container{
    background-color: #ffffff !important;
}
.code-area{
    padding: 20px;
    display: none;
}

.custom-select:focus,
.form-control:focus,
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border: 2px solid #222222 !important;
  box-shadow: none !important;
  outline: 0 none !important;
}