{% extends "base/base.html" %}
{% block content %}


    <div class="container p-5">
        <div class="row">
            <div class="col p-4">
                {% include 'dashboard/search.html' %}
            </div>
            <div class="col p-4">
                {% include 'dashboard/filter.html' %}
            </div>
        </div>
        <h2>Questions</h2>
        <br>
        <ul class="list-group">
            {% for question in questions %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span>
                        {{ forloop.counter }}.
                        <a href="{{ question.hit }}" class="text-dark">{{ question.hit }} | {{ question.title }}</a>
                    </span>
                    <span class="badge badge-danger badge-pill">{{ question.difficulty }} star</span>
                </li>
            {% endfor %}

        </ul>
    </div>

{% endblock %}