{% extends "base/base.html" %}
{% block content %}
    {% load markdown_deux_tags %}
    <script type="text/javascript" id="MathJax-script" async
            src="https://cdn.jsdelivr.net/npm/mathjax@3.0.0/es5/tex-mml-chtml.js">
    </script>
    <div class="container p-5">
        <h2>Update Question</h2>
        <hr>
        <form method="POST" class="mt-3 mb-3" action="">{% csrf_token %}
            <div class="form-group row">
                <label for="inputEmail3" class="col-1 col-form-label">Title</label>
                <div class="col-7">
                    <input type="text" name="title" id="title" class="form-control" placeholder="Enter Question Title"
                           required disabled>
                </div>
                <div class="col-4">
                    <label class="mr-sm-2 sr-only" for="inlineFormCustomSelect">Preference</label>
                    <select class="custom-select mr-sm-2" id="difficulty" name="difficulty">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                        <option>10</option>

                    </select>
                </div>
            </div>

            <div class="form-row">
                <div class="col">
                    <label>Level 1</label>
                    <!-- <input type="text" class="form-control mr-sm-2" name="topic"> -->
                    <select id="category" onload="get_sub_sectors(this);" name="topic" onchange="get_sub_sectors(this);"
                            class="form-control mr-sm-2">
                        {% for x in sectors %}
                            <option value="{{ x.levelone }}">{{ x.levelone }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col">
                    <label>Level 2 </label>
                    <!-- <input type="text" class="form-control mr-sm-2" name="subtopic"> -->
                    <select id="sub_category" name="subtopic" onchange="get_sub_sub_sectors(this);"
                            class="form-control mr-sm-2"></select>
                </div>
                <div class="col">
                    <label>Level 3</label>
                    <!-- <input type="text" class="form-control mr-sm-2" name="subsubtopic"> -->
                    <select id="sub_sub_category" name="subsubtopic" class="form-control mr-sm-2"></select>
                </div>
            </div>
            <br>

            <br>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Question Statement</label>
                <textarea class="form-control" id="question-statement" name="question" rows="15"></textarea>
            </div>

            <div class="form-row">
                <div class="col">
                    {% for input in inputs %}
                        <label>Test Input {{ forloop.counter }}</label>
                        <textarea class="form-control" name="input{{ forloop.counter }}" rows="3">{{ input }}</textarea>
                        <br>
                    {% endfor %}
                </div>
                <div class="col">
                    {% for output in outputs %}
                        <label>Test Outupt {{ forloop.counter }}</label>
                        <textarea class="form-control" name="output{{ forloop.counter }}" rows="3">{{ output }}</textarea>
                        <br>
                    {% endfor %}
                </div>
            </div>

            <button type="submit" class="btn btn-primary m-3 px-5 py-2 m-3">Update</button>

        </form>
        <script>
            function get_sub_sectors(ele) {
                var id = ele.id;
                console.log($('#' + id).val());
                $.ajax({
                    url: "/metadata/question_category/",
                    data: {
                        'sector': $('#' + id).val()
                    },
                    success: function (output) {
                        var e = $('#sub_' + id);
                        e.html(output);
                        // console.log(output);
                        // console.log(e.val());
                        // get_sub_sub_sectors(e);
                        $.ajax({
                            url: "/metadata/question_subcategory/",
                            data: {
                                'sector': e.val()
                            },
                            success: function (output) {
                                var e = $('#sub_sub_' + id);
                                e.html(output);
                                // console.log(output);
                            }
                        });
                    }
                });
            }

            function get_sub_sub_sectors(ele) {
                var id = ele.id;
                // console.log($('#' + id).val());
                $.ajax({
                    url: "/metadata/question_subcategory/",
                    data: {
                        'sector': $('#' + id).val()
                    },
                    success: function (output) {
                        var e = $('#sub_' + id);
                        e.html(output);
                        // console.log(output);
                    }
                });
            }
        </script>


        <script>
            $(document).ready(function () {
                // $("#title")
                $("input[name='title']").val("{{questions.title}}");
                $("input[name='question']").text("");
                $("input[name='difficulty']").val("{{questions.difficulty}}");
                $("#category option[value='{{questions.topic}}']").attr("selected", "selected");

                $.ajax({
                    url: "/metadata/question_category/",
                    data: {
                        'sector': "{{questions.topic}}"
                    },
                    success: function (output) {
                        var e = $('#sub_' + "category");
                        e.html(output);
                        // console.log(output);
                        // console.log(e.val());
                        // get_sub_sub_sectors(e);
                        $.ajax({
                            url: "/metadata/question_subcategory/",
                            data: {
                                'sector': "{{questions.subtopic}}"
                            },
                            success: function (output) {
                                var e = $('#sub_sub_' + "category");
                                e.html(output);
                                // console.log(output);
                            }
                        });
                    }
                });
                $("#sub_sub_category option[value='{{questions.subsubtopic}}']").attr("selected", "selected");
                $("#question-statement").text(`{{questions.question | markdown }}`);
                $("#input1").val("{{io1.input}}");
                $("#input2").val("{{io2.input}}");
                $("#output1").val("{{io1.output}}");
                $("#output2").val("{{io2.output}}");
                $("#difficulty").val("{{questions.difficulty}}");
            });
        </script>
    </div>



    {#Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet dolores illo iste magnam molestias mollitia sed velit? Ab aspernatur, at eveniet illo iste magni numquam repellendus sit temporibus! Id, magni?#}

{% endblock %}