{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Testmandi | Authentication</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/bs.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
<div class="container" id="container">
    <div class="form-container sign-up-container">
        <form action="" method="POST">{% csrf_token %}
            <h1>Create Account</h1>

            {% if reg_error %}
                {% for error in reg_error %}
                    {{ error }}
                {% endfor %}
            {% endif %}
            <input type="hidden" name="form-type" value="register">
{#            <span>or use your email for registration</span>#}
            <input type="text" name="username" placeholder="Username" required/>
            <input type="text" name="f_name" placeholder="First Name" required/>
            <input type="text" name="l_name" placeholder="Middel Name and Last Name" required/>
            <input type="email" name="email" placeholder="Email" required/>
            <input type="password" name="password1" placeholder="Password" required/>
            <input type="password" name="password2" placeholder="Confirm Password" required/>
            {#            <input type="number" placeholder="Enter Email OTP"/>#}
            <br>
            <button type="submit">Sign Up</button>
        </form>
    </div>
    <div class="form-container sign-in-container">
        <form action="" method="POST">{% csrf_token %}


            <h1>Sign in</h1>

            {% if login_error %}
                {% for error in login_error %}
                    {{ error }}
                {% endfor %}
            {% endif %}
            <input type="hidden" name="form-type" value="login">
            <span>or use your account</span>
            <input type="text" name="username" placeholder="Username" required/>
            <input type="password" name="password" placeholder="Password" required/>
            <a href="{% url 'reset_password' %}">Forgot your password?</a>
            <button type="submit">Sign In</button>
        </form>
    </div>
    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-left">
                <h1>Welcome Back!</h1>
                <p>To keep connected with us please login with your personal info</p>
                <button class="ghost" id="signIn">Sign In</button>
            </div>
            <div class="overlay-panel overlay-right">
                <h1>Hello, Friend!</h1>
                <p>Enter your personal details and start journey with us</p>
                <button class="ghost" id="signUp">Sign Up</button>
            </div>
        </div>
    </div>
</div>

<script>
    const signUpButton = document.getElementById('signUp');
    const signInButton = document.getElementById('signIn');
    const container = document.getElementById('container');

    signUpButton.addEventListener('click', () => {
        container.classList.add("right-panel-active");
    });

    signInButton.addEventListener('click', () => {
        container.classList.remove("right-panel-active");
    });
</script>
<script src="{% static 'js/bs.min.js' %}"></script>
</body>
</html>

