{% extends "base/base.html" %}
{% block content %}

    <div class="container p-5">
        <h3>Testing Email</h3>
        {{ sent }}
        <form action="" method="POST">{% csrf_token %}
            <div class="form-row align-items-center">
                <div class="col-sm-5 my-1">
                    <label class="sr-only" for="inlineFormInputName">Name</label>
                    <input type="text" class="form-control" value="bionicbeaver002@gmail.com" name="email">
                </div>
                <div class="col-auto my-1">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>
    </div>


{% endblock %}